<?xml version="1.0" encoding="utf-8"?>
<objects>
  <object id="ConnectionManager" type="Sample1.ConnectionManager,Sample1">
    <constructor-arg name="connectionStrings">
      <dictionary key-type="string" value-type="string">
        <entry key="shard-1" value="Data Source=data\data1.db" />
        <entry key="shard-2" value="Data Source=data\data2.db" />
      </dictionary>
    </constructor-arg>
  </object>
  <object id="ShardStrategy" type="Sample1.ShardStrategy,Sample1" />
  <object id="Database" type="ECode.Data.SQLite.SQLiteDatabase,ECode.Data.SQLite">
    <constructor-arg name="connectionManager" ref="ConnectionManager" />
    <constructor-arg name="shardStrategy" ref="ShardStrategy" />
    <listener event="WriteLog" method="AddDbLog">
      <ref type="Sample1.LoggingHandler, Sample1" />
    </listener>
  </object>
</objects>